# =========================
# Visual Studio
# =========================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# Build folders
# =========================
Debug/
Release/
x64/
x86/
build/
out/

# =========================
# CMake
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# =========================
# Compiled binaries
# =========================
*.exe
*.dll
*.lib
*.obj
*.pdb

# =========================
# Logs
# =========================
*.log